/*Carrusel*/
#hero {
  background-color: black;
}
.w-100 {
  max-height: 700px ;
  object-fit: cover;
}

/*Seccion About*/
#about {
/*  background-image: url(/wave1.svg);
  background-repeat: no-repeat;*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
}
.info {
  min-width: 300px;
  max-width: 550px;
  max-height: 300px;
}
.info p {
  padding: 20px;
}

/*Seccion RegistrateYa*/
.aboutFluid {
  padding: 0 !important;
}
.registerNow-container {
  min-height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Registra-img.jpg);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.registerNow-divContain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registraYa {
  margin-bottom: 85px;
  font-size: 4.5em;
  font-family: 'Teko',sans-serif;
}
#registraYa {
  scale: 1.4;
  background-color: var(--secondary-color);
  color: var(--third-color);
}
#registraYa:hover {
  scale: 1.5;
  transition: 0.7s;
}
