:root {
  --primary: #f5cb5c;
  --secondary: #242423;
  --third: #333533;
  --right-bg: #dee2e6;
}

/*Fuentes generales*/
* {
  box-sizing: border-box;
}
/*Fondo de la pagina*/
#login{
  background: linear-gradient(to right, #5f2c82, #49a09d);
  padding: 50px 0px 50px 0px;
}
.login-container {
  max-width: 80%;
  min-width: 80%;
  margin: 70px auto;
  border-radius: 8px;
  display: flex;
}

.loginLeft-container {
  padding: 20px 20px;
  background-color: var(--secondary);
}
/*Bienvenido de vuelta-texto*/
.loginLeft-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 55px 0px 65px 0px;
}
.loginLeft-title-h1{
  font-size: 2rem;
  font-weight: bold;
  color: var(--right-bg) !important;
  margin: 10px 0px 10px 0px;
  font-family: "Oswald", serif;
}
.loginLeft-title-p {
  font-size: 0.8em;
  color: var(--right-bg) !important;
  opacity: 0.85;
  font-family: "Raleway", sans-serif;
}
/*Form container*/
.input-container {
  margin-bottom: 10px;
}
.input-container--rmberMe {
  display: flex;
  margin: 0px 0px 25px 0px;
  justify-content: space-between;
}
.loginInputLabel {
  margin-bottom: 3px;
  color: var(--right-bg) !important;
}
.form-check-label{
  color:#f5cb5c !important;
}
.f-pssw-container a{
  color: #ffbb00;
}


.login-link {
  text-decoration: none;
  color: var(--primary);
}
.login-link:hover {
  color: #fca311;
  transition: 0.5s;
}
/*Botones de iniciar sesion*/
.loginB {
  width: 100%;
  border-radius: 5px;
  background-color: #ffc526;
  border: none;
  padding: 0.4em;
  margin-bottom: 10px;
  font-size: 1.05em;
  font-weight: bold;
  font-style: italic;
}
.loginB:hover {
  font-size: 1.1em;
  transition: background-color 0.3s;
  background-color: #ffbb00;
  cursor:pointer !important;
}
/*g-loginB = google-loginButton*/
.g-loginB {
  padding: 0.2em;
  background-color: white;
  border: 1px solid rgb(196, 194, 194);
  font-size: 1em;
}
.g-loginB:hover {
  background-color: white;
}
/*"No tienes una cuenta?"*/
.register-link {
  text-decoration: none;
  color: #ffbb00;
  font-weight: bold;
}
.register-link--p {
  text-align: center;
  margin-bottom: 200px;
  color: var(--right-bg) !important;
}
.register-link:hover {
  font-size: 1.1em;
  transition: 1s;
  color: #fca311;
}
@media screen AND (max-width: 421px) {
  .f-pssw-container {
    text-align: right;
  }
}
@media screen AND (min-width: 535px) {
  .loginLeft-container {
    padding: 20px 70px;
  }
  .loginLeft-title h1 {
    font-size: 2rem;
  }
  .loginLeft-title p {
    font-size: 1em;
  }
}
@media screen AND (min-width: 600px) {
  .loginLeft-container {
    padding: 20px 80px;
  }
  .loginLeft-container h1 {
    font-size: 2.5em;
  }
}
@media screen AND (min-width: 750px) {
  .loginLeft-container {
    padding: 20px 120px;
  }
}
@media screen AND (min-width: 850px) {
  .loginLeft-container {
    padding: 20px 150px;
  }
}
@media screen AND (max-width: 1300px) {
  .login-container {
    flex-direction: column-reverse;
  }
  .loginLeft-container {
    background-image: none;
  }
  .loginRight-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 0px 0px;
  }
  .loginRight-container img {
    height: 75px;
    width: 75px;
    display: none;
  }
}

@media screen AND (min-width: 1301px) {
  .login-container {
    flex-direction: row;
  }
  .loginLeft-container {
    width: 50%;
  }
  .loginLeft-container {
    padding: 125px 50px;
  }
  .loginLeft-container h1 {
    font-size: 2.5em;
  }
  .loginRight-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(51, 53, 51, 0.85);
  }
  .loginRight-container img {
    height: 355px;
    width: 355px;
    object-fit: contain;
  }
}
@media screen AND (min-width: 1450px) {
  .loginLeft-container {
    padding: 200px 120px;
  }
}
